@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Pretendard-Regular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary_100: #ee8e62;
  --primary_200: #ce7149;
  --primary_300: #73160a;
  --accent_100: #81491e;
  --accent_200: #f7d49f;
  --accent_300: #ffe7d0;
  --gray_00: #ffffff;
  --gray_01: #fcf6ee;
  --gray_02: #c8c3bd;
  --gray_03: #c9c3bc;
  --gray_04: #78716c;
  --gray_05: #292524;
}
